<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<footer class="footer">
                <table class="footer_table">
                    <tr>
                        <th>
                            <img src="image/logo.png" class="footer_logo"><div>
                            <div class="footer_name"><nav class="footer_color_change ">GOLDEN</nav> Event Management</div>
                            
                        </th>
                        <th>
                            <p></p>
                            <ul class="footer_link">
                                <li><a href="index.jsp">* Home</a></li>
                                <li><a href="login.jsp">* Log In</a></li>
                                <li><a href="login.jsp">* Sign Up</a></li>
                                <li><a href="contact_us.jsp">* Contact Us</a></li>
                                <li><a href="">* Terms & Conditions</a></li>
                            </ul>
                        </th>
                        <th>
                            
                        </th>
                    </tr>
                    
                </table>
    
                <div class="footer_base">Copyright  2021 By Golden events. | Designed And Developed By SLIIT Tech.</div>
           </footer>

</body>
</html>